[Unit]
Description=Start obsqrbtz.space webiste
Documentation=https://github.com/obsqrbtz/obsqrbtz-space
After=network.target

[Service]
Type=simple
User=user1
ExecStart=/path/to/obsqrbtz-space/dev.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target