pre,
code {
	font-family: var(--codeFont);
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;	
}

pre {
	overflow-y: auto;
	color: var(--inlineCodeColor);
	background: var(--codeBackground);
	padding: 1rem;
	font-size: 1rem;
}

code {
	color: var(--inlineCodeColor);
	font-size: 1rem;
	padding: .125em .25em;
	border-radius: 4px;
	background: var(--codeBackground);
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	background: transparent;
	font-size: 1rem;
}