:root {
	/* Colors */
	--accent: #b44242;
	--background: #151515;
	--lightAccent: #222222;
	--lightAccentShade: #444444;
	--lighterAccent: #E6E8E4;
	--dark: #c2c2b0;
	--darker: #c2c2b0;
	--slate: #c2c2b0;

	--white: #151515;
	--black: #c2c2b0;

	--ink: var(--slate);
	--paper: var(--background);

	/**
	 * These fonts are broken out into two separate variables from a previous iteration. I left
	 * it in because it's nice to be able to split out the heading and body fonts.
	 */
	--accentFont: 'Atkinson Hyperlegible', Georgia, Times, serif;
	--primaryFont: 'Atkinson Hyperlegible', sans-serif;
	--codeFont: 'Fira Code', monospace;
}
