:root {
	/* Colors */
	--accent: #fabd2f;
	--background: #151515;
	--lightAccent: #1d2021;
	--lightAccentShade: #444444;
	--lighterAccent: #E6E8E4;
	--dark: #f4f4f1;
	--darker: #ddddd5;
	--slate: #d7d7ce;

	--codeBackground: #1d2021;
	--inlineCodeColor: #fabd2f;

	--white: #151515;
	--black: #ddddd5;

	--ink: var(--slate);
	--paper: var(--background);

	/**
	 * These fonts are broken out into two separate variables from a previous iteration. I left
	 * it in because it's nice to be able to split out the heading and body fonts.
	 */
	--accentFont: 'Fira Sans', Georgia, Times, serif;
	--primaryFont: 'Fira Sans', sans-serif;
	--codeFont: 'Fira Code', monospace;
}
